@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://img.freepik.com/free-photo/digital-art-beautiful-mountains_23-2151123780.jpg?t=st=1714163195~exp=1714166795~hmac=c6694fa2ed6d9c0a9cb35f16be65d70e3045665e89d3a45103cc2116f96832ab&w=900') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(100px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}